
<%=flash[:message]%>
<form class="form-signin" method="post" action="/login">
 
<h1 class="display-4">Welcome to EcookBook!!</h1>
  <img id='logo' class="rounded mx-auto d-block" src="https://image.flaticon.com/icons/png/512/113/113339.png" alt="" width="72" height="72">
  <br>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="Username" name=user[username] required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name=user[password_digest] required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
