<h1>Create Account</h1>
<form method='post' action="user/signup">
<label for="new_name">Name:</label>
<input type='text' name='user[username]'>
<label for='new_password'>Password:</label>
<input type='password' name='user[password_digest]'>
<label for='retyped_password'>Confirm Password</label>
<input type='password' name='retyped_password'>
<input type='submit' value="Let's Start Cooking">
</form>