<h1>Welcome to Ecookbook</h1>
<h4>This website is a one stop place for storing and finding new recipes to cook</h4>
<h5>To see your recipe book click the link below</h5><br>
<a href="/login">Login</a>
<br>
<br>
<h5>To view all recipes in our database click <a href='/recipes'>All Recipes</a>
<h5>To start saving your recipes today <a href='/signup'>Create an Account!</a>
<h5>For a random recipe to try clik <a href='/recipes/random'>Suprise!</a>